process {
    cpus = 1
    errorStrategy = 'finish'
    
    withName: BASALT {
        errorStrategy ={task.attempt <= 3 ? 'retry' : 'ignore'}
        maxRetries = 4
        maxForks = 4
        cpus = 12
    }

    withName: PROKKA {
        cpus = 12
    }

    withName: METAPHLAN_METAPHLAN {
        cpus = 12
        maxForks = 10
    }

    withName: GTDBTK_CLASSIFYWF {
        memory = "100 GB"
        cpus = 12
    }

    withName: KRAKEN2_KRAKEN2 {
        memory = "85 GB"
        cpus = 12
    }
    
    withName: EGGNOGMAPPER {
        cpus = 8
        memory = '25 GB'
    }
    
    withName: MEGAHIT {
        cpus = 12
        memory = "25GB"
    }
    
    withName: QUAST {
        cpus = 12
    }
    
    withName: BOWTIE2_ALIGN {
        cpus = 12
    }
    
    withName: FASTP {
        cpus = 12
    }

    withName: BAKTA_BAKTA {
        cpus = 12
    }
}