// nextflow.enable.moduleBinaries = true
process.cache = "lenient"

trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_dag_${trace_timestamp}.html"
    overwrite = true
    verbose = true
}


profiles {
    standard {
        tower {
            enabled = true
            accessToken = "eyJ0aWQiOiAxMDQ1MX0uZWM3YWIyYTg3OGUxMjAxNWJmNjVlNzQzNzRmYjc1ZWUyMjIyNDM3OA"
            worspaceId = null
        }
        
        conda {
            enabled = true
            cacheDir = "/home/inaiag/miniconda3"
        }
        
        includeConfig "./preset.config"

        process {
            cpus = 1
            errorStrategy = 'finish'

            withName: BASALT {
                errorStrategy ={task.attempt <= 3 ? 'retry' : 'ignore'}
                maxRetries = 4
                maxForks = 4
                cpus = 12
            }
            withName: PROKKA {
                cpus = 12
            }
            withName: METAPHLAN_METAPHLAN {
                cpus = 12
                maxForks = 10
            }
            withName: GTDBTK_CLASSIFYWF {
                memory = "100 GB"
                cpus = 12
            }
            withName: KRAKEN2_KRAKEN2 {
                memory = "85 GB"
                cpus = 12
            }
            withName: EGGNOGMAPPER {
                cpus = 12
            }            
        }
    }

    stub {
        includeConfig "./preset.config"
        process {
            conda {
                enabled = false
            }
            memory = "1 GB"
            cpus = 1
        }
    }
}
