// nextflow.enable.moduleBinaries = true
process.cache = "lenient"

params {
    trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_report_${params.trace_timestamp}.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_timestamp}.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/execution_dag_${params.trace_timestamp}.html"
    overwrite = true
    verbose = true
}

includeConfig "./tower.config"
includeConfig "./params.config"

profiles {
    standard {

        conda {
            enabled = false
            cacheDir = params.miniconda3
        }

        docker {
            enabled  = true
            runOptions = '-u $(id -u):$(id -g)'
            }

        includeConfig "./preset.config"
        includeConfig "./modules.config"
    }
    
    stub {
        docker.enabled = true
        includeConfig "./preset.config"
        conda.enabled = false
        process {
            memory = "1 GB"
            cpus = 1
        }
    }
}
