params {
    
    miniconda3 = "/your/miniconda3/path"

    megahit {
        input_fastq = "/your/clean_reads/path"

    }

    kraken_metaphlan {
        input_assembly = "/your/assembly/path"
        input_fastq    = "/your/clean_reads/path"
        kraken_db      = "/your/kraken2_database/path"
        metaphlan_db   = "/your/metaphlan_database/path"
    }

    basalt {
        input_assembly = "/your/assembly/path"
        input_fastq = "/your/clean_reads/path"
        conda          = "/your/conda_envs/path/basalt-env"
    }   

    prokka_eggnog {
        fa_pattern      = "/your/basalt_result/path"
        arq        = "/your/gtdb_results/path/gtdbtk.Samples.ar53.summary.tsv"
        bac        = "/your/gtdb_results/path/gtdbtk.Samples.bac120.summary.tsv"
        eggnog_db  = "/your/eggnog_database/path"
        bins_table = "/your/final_bins_copy/path/final_bins_copy.tsv"
    }

    bakta {
        fa_pattern = "/your/basalt_result/path"
        arq        = "/your/gtdb_results/path/gtdbtk.Samples.ar53.summary.tsv"
        bac        = "/your/gtdb_results/path/gtdbtk.Samples.bac120.summary.tsv"
        eggnog_db  = "/your/eggnog_database/path"
        bakta_db   = "/your/bakta_database/path"
        bins_table = "/your/final_bins_table/path/final_bins.tsv"
    }

    gtdbtk {
        input     = "/your/basalt_temp_bins/path"
        gtdbtk_db = "/your/gtdbtk_database/path"
    }

}

