process {
    
    withName: PROKKA {
        ext.prefix = { "annot" }
        ext.args = { ["--metagenome", "--outdir annot", "--centre X", "--compliant"].join(' ') }
        publishDir = [
            path: { "${params.prokka_eggnog.outdir}/${meta.meta_id}/Prokka/${meta.id}" },
            mode: 'copy',
            pattern: "annot/*",
            saveAs: { filename ->
                def new_filename = filename.replaceFirst('annot/', '')
                new_filename
            }
        ]
    }

    withName: METAPHLAN_METAPHLAN {
        publishDir = [
            path: { "${params.kraken_metaphlan.outdir}/MetaPhlAn/${meta.id}" },
            mode: "copy",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BASALT {
        publishDir = [
            path: {"${params.basalt.outdir}/Results_basalt/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: GTDBTK_CLASSIFYWF {
        ext.args = { [
            '--extension fa',
            '--min_perc_aa 10',
            '--min_af 0.5'
        ].join(' ') }
        publishDir = [
            path: { "${params.gtdbtk.outdir}/${meta.id}" },
            mode: "copy"
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: {"${params.kraken_metaphlan.outdir}/Kraken/${meta.id}"},
            mode: 'copy'
        ]
    }

    withName: EGGNOGMAPPER {
        publishDir = [
            path: {"${params.prokka_eggnog.outdir}/${meta.meta_id}/EggNOG/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: MEGAHIT {
        ext.args2 = { [
            '--no-name'
        ].join(' ') }
        publishDir = [
            path: { "${params.megahit.outdir}/${meta.id}" },
            mode: 'copy'
        ]
    }
    withName: QUAST {
        publishDir = [
            path: { "${params.outdir}/Results_quast/${meta.id}" },
            mode: 'copy'
        ]
    }
    withName: BOWTIE2_ALIGN {
        ext.save_unaligned = { true }
        ext.sort_bam = { true }
    }
    withName: FASTP {
        ext.save_unaligned = { true }
        ext.sort_bam = { true }
    }

    withName: BKATA_BAKTA {
    ext.prefix = { "annot" }
    ext.args = { ["--metagenome", "--centre X", "--compliant"].join(' ') }
    }
}