process {
    
    withName: PROKKA {
        ext.prefix = { "annot" }
        ext.args = { ["--metagenome", "--outdir annot", "--centre X", "--compliant"].join(' ') }
        publishDir = [
            path: { "${params.outdir}/Results_taxonomy/${meta.id}/Prokka" },
            mode: params.publish_dir_mode,
            pattern: "annot/*",
            saveAs: { filename ->
                def new_filename = filename.replaceFirst('annot/', '')
                new_filename
            }
        ]
    }

    withName: METAPHLAN_METAPHLAN {
        publishDir = [
            path: { "${params.outdir}/Results_taxonomy/${meta.id}/MetaPhlAn" },
            mode: params.publish_dir_mode,
            pattern: "*/MetaPhlAn",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BASALT {
        publishDir = [
            path: {"${params.outdir}/Results_basalt/${meta.id}" },
            mode: 'copy'
        ]
    }

    withName: GTDBTK_CLASSIFYWF {
        ext.args = { [
            '--extension fa',
            '--min_perc_aa 10',
            '--min_af 0.5'
        ].join(' ') }
        publishDir = [
            path: { "${params.outdir}/Results_taxonomy/${meta.id}/GTDBTk" },
            mode: params.publish_dir_mode
        ]
    }

    withName: KRAKEN2_KRAKEN2 {
        publishDir = [
            path: {"${params.outdir}/Results_taxonomy/${meta.id}/Kraken"},
            mode: 'copy'
        ]
    }

    withName: EGGNOGMAPPER {
        publishDir = [
            path: {"${params.outdir}/Results_annotation/${meta.id}/EggNOG" },
            mode: 'copy'
        ]
    }
}